# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [11]:
# Write your code here
print('Data','Science','Mentorship','Program', sep = '-', end = '-started-')
print('By', 'CampusX', sep = '-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [13]:
# Write your code here
cel = float(input("Enter the temperature in celsius :"))
fah = (cel*1.8) + 32
print("The temperature in fahrenheit is", fah, 'F')

Enter the temperature in celsius :45
The temperature in fahrenheit is 113.0 F

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [10]:
# Write your code here
a = int(input("Enter the first number "))
b = int(input("Enter the second number "))
print("Before: a = ", a, "and b = ", b)
t = a
a = b
b = t
print("After swaping a = ", a, "and b = ", b)

Enter the first number 4
Enter the second number 5
Before: a =  4 and b =  5
After swaping a =  5 and b =  4

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [21]:
# Write your code here
x1 = int(input("Enter the x- coordinate for 1st point "))
y1 = int(input("Enter the y- coordinate for 1st point "))
x2 = int(input("Enter the x- coordinate for 2nd point "))
y2 = int(input("Enter the x- coordinate for 2nd point "))
dis = ((x2 - x1)**2 + (y2 - y1)**2)**(1/2) #or **0.5 but **1/2 is wrong ->  interpreted as (**1)/2

print("The distance is ",round(dis, 2))

Enter the x- coordinate for 1st point 0
Enter the y- coordinate for 1st point 0
Enter the x- coordinate for 2nd point 2
Enter the x- coordinate for 2nd point 2
The distance is  2.83

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [23]:
# Write your code here
P = int(input("Enter the principle amount: "))
R = int(input("Enter the rate of interest: "))
t = int(input("Enter the time period(in years): "))

si = (P*R*t)/100
print(si)

Enter the principle amount: 1000
Enter the rate of interest: 2
Enter the time period(in years): 5
100.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [2]:
# Write your code here
heads = int(input("Enter the total number of heads: "))
legs = int(input("Enter the total number of legs: "))
if heads> legs:
    print("Invalid value")
else:
    #dogs + chicken == heads
    chicken = (4*heads - legs)/2
    dogs = heads - chicken

print("The number of dogs are", dogs, "and chicken are", chicken)

Enter the total number of heads: 4
Enter the total number of legs: 12
The number of dogs are 2.0 and chicken are 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [6]:
# Write your code here
n = int(input("Enter the value of n: "))
sumn = (n*(n+1)*(2*n+1))/6       #sum of squares
print("The sum is ", sumn)

Enter the value of n: 4
The sum is  30.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [7]:
# Write your code here
a1 = int(input("Enter the 1st term for series:"))
a2 = int(input("Enter the 1st term for series:"))
d = a2 - a1
n = int(input("Enter the total number of term in series:"))

an = a1 + (n-1)*(d/2)

print("The nth term of series is ",an)

Enter the 1st term for series:3
Enter the 1st term for series:6
Enter the total number of term in series:10
The nth term of series is  16.5

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [8]:
# Write your code here
n1 = int(input("num1 "))
d1 = int(input("den1 "))
n2 = int(input("num2 "))
d2 = int(input("den2 "))

rn = (n1*d2) + (d1*n2)
rd = d2*d1

print('{}/{}'.format(rn, rd))

num1 3
den1 7
num2 2
den2 11
47/77

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [6]:
import math
# Write your code here
h = float(input("Enter the height of milk tank: "))
w = float(input("Enter the width of milk tank: "))
b = float(input("Enter the breadth of milk tank: "))

h_g = float(input("Enter height of glass: "))
r_g = float(input("Enter the raduis of glass: "))

v_t = h*w*b
v_g = 3.14*r_g*r_g*h_g

n = v_t/v_g

print("The number of glasses :", math.floor(n))

Enter the height of milk tank: 10
Enter the width of milk tank: 9
Enter the breadth of milk tank: 10
Enter height of glass: 5
Enter the raduis of glass: 2
The number of glasses : 14